<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Visible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D0487171F20D2A100E6F280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0487261F20D2A100E6F280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0487311F20D2A100E6F280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
